body{
    background-color: rgb(83, 5, 70);
    font-family: 'Poppins', sans-serif;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #e2a7d0;
    margin-left: 33%;
    margin-top: 5px;
    margin-top: 5%;
    border-radius: 10px;
    
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;
     border-radius: 10px;


 }
 input:hover{
   border-color: rgb(58, 3, 41);
 }
 button{
    width: 60px;
    height: 41px;
  
    background-color: rgb(31, 1, 22);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    
    font-size: 19px;
 }
 button:hover{
   background-color: rgb(240, 49, 49);
   color: black;
   border:2px solid black;
 }
 .text ul {
    /* position: relative; */
    background-color: rgb(127, 20, 160);
    color: white;
    font-size: 20px;
    font-weight: 820;
    padding: 7px;
   display: flex;
   justify-content:space-between;
    border-radius: 10px;
 }
 .text ul:hover{
   border: 2px solid rgb(61, 3, 73);
 }
 .text ul i{
   
   
    cursor: pointer;
    display: flex;
    justify-content: end;
    
 }
 .text ul i:hover{
   color: red;
 }